
  	footer{
  		text-align: center;
  	}
  	h1{
  		text-align: center;
  	}
  	h2{
  		text-align: center;
  	}

  	.Div1{
  border: 5px outset black;
  background-color: lightblue;    
  text-align: center;
	}


	.Div2{
  border: 5px outset white;
  background-color: lightblue;    
  text-align: center;
	}
	.Div3{
  border: 5px outset yellow;
  background-color: lightblue;    
  text-align: center;
	}
	.Div4{
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
	}
	.Div5{
  border: 5px outset white;
  background-color: lightblue;    
  text-align: center;
	}
	
