<html>
  <head>
    <title>Survey on flexus Electronics website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="niceSurvey.html">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#survey">Start Survey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.flexuselectronics.com/">Go to Flexus Website </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#reason">Why we need you help?</a>
          </li>  
        </ul>
      </div>  
    </nav>
	
	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <h1 id="survey">Survey on Flexus Electronics official website</h1>
    <form>
      <h2>What is your gender?</h2>
      I am:<br>
      <input type="radio" name="gender" value="Male">Male<br>
		  <input type="radio" name="gender" value="Female">Female<br>
      <input type="radio" name="gender" value="Do not want to tell">Do not want answer<br><br>
      
      <h2> How old are you? </h2>
      I am:<br>
      <input type="text" name="age" placeholder="age..." required />
      <br>
      <br>
      <h2> What color(s) do you prefer to be the website? </h2>
	    I prefer:<br>
		  <input type="checkbox" name="color" value="Red"> Red<br>
		  <input type="checkbox" name="color" value="Green"> Green<br>
      <input type="checkbox" name="color" value="Blue"> Blue<br>
      <input type="checkbox" name="color" value="Black"> Black<br>
      <input type="checkbox" name="color" value="Grey"> Grey<br>
      <br>


      <h2>What is your favorite part?</h2>
      I like:<br>
      <select name="fav">
			  <option value="Color" selected="selected">Color</option>
			  <option value="Layout">Layout</option>
        <option value="Textsize">Textsize</option>
        <option value="Picture">Picture</option>
      </select>
      <br>
      <br>
      

       <h2>What aspects do you think the website can be improved?</h2>
      <input type="checkbox"name="aspect"value="Colors">Colors<br>
		  <input type="checkbox"name="aspect"value="Layout">Layout<br>
		  <input type="checkbox"name="aspect"value="Textsize">Textsize<br>
      <input type="checkbox"name="aspect"value="Picture">Picture<br>
      <br>
      <br>
      <h2>Comments:</h2>
      You can leave your comments here: <input type="text" name="comment"><br><br>
      <!--<h2>How do you like this website?</h2>
      <input type="radio" name="level" value="Very Satisfied">Very Satisfied<br>
		  <input type="radio" name="level" value="Satisfied">Satisfied<br>
		  <input type="radio" name="level" value="Medium">Medium<br>
	  	<input type="radio" name="level" value="Unsatisfied">Unsatisfied<br>
	  	<input type="radio" name="level" value="Very Unsatisfied">Very Unsatisfied<br>
      <br>
      <br>-->
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
      <div id="reason">
      <h2 > Why We need your help?</h2>
        By collecting your opinions on our website, we can improve our design and offer better user experience. Thank you very much!
      </div>
    </form>
    </div> 
  <script src="/assets/action.js"></script>
  <div style="text-align: center">
  <footer>
    <p>Site created by Haobin Jia, 8696583<br>
    <a href="hjia088@uottawa.ca">hjia088@uottawa.ca</a></p>
</footer> 
</div>
  </body>
</html> 